/* ------------------------------- */
/* TABLET LANDSCAPE                */
/* ------------------------------- */

@media only screen and (max-width: 1200px) {

    html {
        font-size: 18px;
    }
    
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }

    .icon-small {
        margin: 0 8px;
    }

    .steps-box:last-child {
        margin-top: 50px;
    }

}

/* ------------------------------- */
/* TABLET PORTRAIT                 */
/* ------------------------------- */

@media only screen and (max-width: 1023px) {

    html {
        font-size: 16px;
    }

    section {
        padding: 60px 0;
    }

    .long-copy {
        width: 85%;
    }

    .icon-small {
        margin: 0 1px 0 0;
    }

    .steps-box:last-child {
        margin-top: 40px;
    }

    .works-step div {
        padding: 4px;
        height: 40px;
        width: 40px;
    }

    .works-step {
        margin-bottom: 30px;
    }

    .works-step:last-of-type {
        margin-bottom: 55px;
    }

    .btn-app img {
        height: 40px;
    }

    .city-feature {
        font-size: 98%;
    }

    .plan-box {
        width: 100%;
    }

    .plan-price {
        font-size: 250%;
    }

    .plan-price-meal {
        font-size: 90%;
    }

    .contact-form {
        width: 80%;
    }

    footer {
        padding: 25px;
        font-size: 100%;
    }

    .footer-nav li,
    .social-links li {
        margin-right: 12px;
    }

}

/* ------------------------------- */
/* SMARTPHONE LANDSCAPE            */
/* ------------------------------- */

@media only screen and (max-width: 767px) {

    html {
        font-size: 15px;
    }

    section {
        padding: 30px 0;
    }

    .row,
    .hero-text-box {
        padding: 0 4%;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 160%;
    }

    .logo {
        height: 80px;
    }

    .main-nav {
        display: none;
    }

    .long-copy,
    .box p {
        text-align: left;
        margin: 0 auto 20px;
        width: 80%;
    }

    .icon-small {
        margin: 0 10px 0 0;
        vertical-align: bottom;
    }

    .box p:last-child {
        margin-bottom: 0;
    }

    .steps-box:first-child {
        text-align: center;
        padding-right: 0;
        margin-top: 10px;
    }

    .app-screen {
        width: 25%;
    }

    .steps-box:last-child {
        padding-left: 0;
        margin: 30px 10% 0;
        width: 80%;
    }

    .works-step:last-of-type {
        margin-bottom: 40px;
    }

    .works-step div {
        padding: 2px;
        height: 35px;
        width: 35px;
        margin-top: -3px;
    }

    .btn-app img {
        height: 40px;
        margin-right: 10px;
    }

    blockquote {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .section-cities img {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .section-cities img {
        margin-top: 20px;
    }

    .section-cities .box:first-child img {
        margin-top: 0;
    }

    .city-feature {
        margin-left: 10%;
    }

    .section-testimonials .col:first-child blockquote {
        margin-top: 10px;
    }

    .plan-box {
        width: 80%;
    }

    .contact-form {
        width: 80%;
    }

    input[type=text],
    input[type=email],
    select {
        margin-bottom: 15px;
    }

    input[type=checkbox] {
        margin: 5px 5px 15px 0;
    }

    .footer-nav,
    .social-links {
        float: none;
        text-align: center;
    }
    
    footer p,
    .social-links {
        margin-top: 15px;
    }
}

/* ------------------------------- */
/* SMARTPHONE PORTRAIT             */
/* ------------------------------- */

@media only screen and (max-width: 480px) {

    section {
        padding: 25px 0;
    }

    .logo {
        height: 60px;
    }

    .long-copy,
    .box p {
        width: 90%;
    }

    .steps-box:last-child {
        margin: 30px 5% 0;
        width: 90%;
    }

    .section-cities img {
        width: 90%;
    }

    .city-feature {
        margin-left: 5%;
    }

    blockquote {
        width: 90%;
    }

    .contact-form {
        width: 90%;
    }

    .plan-box {
        width: 90%;
    }

    .section-plans .col:not(:last-child) .plan-box {
        margin-bottom: 15px;
    }

}
